{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = '' %}
{% set person = familyMember.person %}

{% block title  'Remove family membership'|trans %}

{% block personcontent %}

{{ include('ChillMainBundle:Util:confirmation_template.html.twig',
    {
        'title'             : 'Remove family membership'|trans,
        'confirm_question'  : 'Are you sure you want to remove the family membership "%members_name%" associated to "%name%" ?'|trans({ '%name%' : person.firstname ~ ' ' ~ person.lastname, '%members_name%': familyMember.firstname ~ ' ' ~ familyMember.lastname } ),
        'cancel_route'      : 'chill_family_members_family_members_index',
        'cancel_parameters' : { 'id' : familyMember.person.id },
        'form'              : delete_form
    } ) }}

{% endblock %}
