{% extends "@ChillPerson/layout.html.twig" %}

{% set activeRouteKey = '' %}
{% set title = 'Edit family members for %name%'|trans({ '%name%' : person.firstName ~ " " ~ person.lastName } ) %}
{% block title title %}

{% block personcontent %}
<h1>{{ title }}</h1>

{{ form_start(form) }}

{{ form_row(form.firstname) }}
{{ form_row(form.lastname) }}
{{ form_row(form.birthdate) }}
{{ form_row(form.link) }}
{{ form_row(form.gender) }}
{% if form.familialSituation is defined %}
{{ form_row(form.familialSituation) }}
{% endif %}
{% if form.professionnalSituation is defined -%}
{{ form_row(form.professionnalSituation) }}
{% endif -%}
{{ form_row(form.maritalStatus) }}
{{ form_row(form.startDate) }}
{{ form_row(form.endDate) }}

<ul class="record_actions sticky-form-buttons">
    <li class="cancel">
        <a href="{{ path("chill_family_members_family_members_index", { 'id': person.id } ) }}" class="sc-button bt-cancel">
           {{ 'Back to the list'|trans }}
        </a>
    </li>
    <li>
        {{ form_widget(form.submit, { 'attr' : { 'class': 'sc-button bt-edit' }, 'label': 'Edit' } ) }}
    </li>
</ul>
       
{{ form_end(form) }}
{% endblock %}
