{% extends "@ChillPerson/layout.html.twig" %}

{% set activeRouteKey = '' %}
{% set title = 'Family members for %name%'|trans({ '%name%' : person.firstName ~ " " ~ person.lastName } ) %}
{% block title title %}
    
    
{% set actualFamilyMembers = [] %}
{% set futureFamilyMembers = [] %}
{% set pastFamilyMembers   = [] %}

{% for f in familyMembers %}
    {% if f.startDate|date('U') <= 'now'|date('U') %}
        {% if f.endDate is null or f.endDate|date('U') >= 'now'|date('U') %}
            {% set actualFamilyMembers = actualFamilyMembers|merge([ f ]) %}
        {% else %}
            {% set pastFamilyMembers = pastFamilyMembers|merge([ f ]) %}
        {% endif %}
    {% else %}
        {% set futureFamilyMembers = futureFamilyMembers|merge([ f ]) %}
    {% endif %}
{% endfor %}


{% macro table(familyMembers) %}
<table>
    <thead>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'birthdate'|trans }}</th>
            <th>{{ 'family membership link'|trans }}</th>
            <th>{{ 'family membership period'|trans }}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for f in familyMembers %}
        <tr>
            <td>
                {% set name = f.firstName ~ ' ' ~ f.lastName %}
                {% if name is not empty %}
                    {{ name }}
                {% else %}
                    <span class="chill-no-data-statement">{{ 'name unknown'|trans }}</span>
                {% endif %}
            </td>
            <td>
                {% if f.birthdate is not null %}
                    {{ f.birthdate|localizeddate('long', 'none') }}
                {% else %}
                    <span class="chill-no-data-statement">{{ 'Not given'|trans }}</span>
                {% endif %}
            </td>
            <td>
                {{ f.link|chill_family_member_link_display }}
            </td>
            <td>
                {% if f.endDate is not null %}
                    {{ 'Member since %startDate% until %endDate%'|trans( { '%startDate%': f.startDate|localizeddate('long', 'none'), '%endDate%': f.endDate|localizeddate('long', 'none') } ) }}
                {% else %}
                    {{ 'Member since %startDate%'|trans( { '%startDate%': f.startDate|localizeddate('long', 'none') } ) }}
                {% endif %}
            </td>
            <td>
                <ul class="record_actions">
                    {% if is_granted(constant('Chill\\AMLI\\FamilyMembersBundle\\Security\\Voter\\FamilyMemberVoter::SHOW'), f) %}
                        <li>
                            <a href="{{ path('chill_family_members_family_members_view', { 'id': f.id } ) }}" class="sc-button bt-show"></a>
                        </li>
                    {% endif %}
                    {% if is_granted(constant('Chill\\AMLI\\FamilyMembersBundle\\Security\\Voter\\FamilyMemberVoter::UPDATE'), f) %}
                        <li>
                            <a href="{{ path('chill_family_members_family_members_edit', { 'id': f.id } ) }}" class="sc-button bt-edit"></a>
                        </li>
                    {% endif %}
                    {% if is_granted(constant('Chill\\AMLI\\FamilyMembersBundle\\Security\\Voter\\FamilyMemberVoter::DELETE'), f) %}
                        <li>
                            <a href="{{ path('chill_family_members_family_members_delete', { 'id': f.id } ) }}" class="sc-button bt-delete"></a>
                        </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% import _self as m %}

{% block personcontent %}
<h1>{{ title }}</h1>

{% if familyMembers|length == 0 %}
    <p><span class="chill-no-data-statement">{{ "There isn't any family member"|trans }}</span></p>
{% else %}
    {% if actualFamilyMembers|length > 0 %}
        <h2>{{ 'Actual family members'|trans }}</h2>

        {{ m.table(actualFamilyMembers) }}
    {% endif %}
    
    {% if futureFamilyMembers|length > 0 %}
        <h2>{{ 'Future family members'|trans }}</h2>

        {{ m.table(futureFamilyMembers) }}
    {% endif %}
    
    {% if pastFamilyMembers|length > 0 %}
        <h2>{{ 'Past family members'|trans }}</h2>

        {{ m.table(pastFamilyMembers) }}
    {% endif %}
{% endif %}

{% if is_granted(constant('Chill\\AMLI\\FamilyMembersBundle\\Security\\Voter\\FamilyMemberVoter::CREATE'), person) %}
    <ul class="record_actions">
        <li>
            <a class="sc-button bt-create" href="{{ path('chill_family_members_family_members_new', { 'id': person.id} ) }}">{{ 'Create new family membership'|trans }}</a>
        </li>
    </ul>
{% endif %}

{% endblock %}
