{% extends "@ChillPerson/layout.html.twig" %}

{% set activeRouteKey = '' %}
{% set person = familyMember.person %}
{% set title = 'Family member "%membersName%" for %name%'|trans({ '%membersName%': familyMember.firstName ~ ' ' ~ familyMember.lastName, '%name%' : person.firstName ~ " " ~ person.lastName } ) %}

{% block title title %}

{% block personcontent %}
<h1>{{ title }}</h1>

<dl class="chill_view_data">
    <dt>{{ 'Name'|trans }}</dt>
    <dd>{{ familyMember.firstName ~ ' ' ~ familyMember.lastName }}</dd>

    <dt>{{ 'family membership link'|trans }}</dt>
    <dd>{{ familyMember.link|chill_family_member_link_display }}</dd>

    <dt>{{ 'family membership period'|trans }}</dt>
    <dd>
        {% if familyMember.endDate is not null %}
            {{ 'Member since %startDate% until %endDate%'|trans( { '%startDate%': familyMember.startDate|localizeddate('long', 'none'), '%endDate%': familyMember.endDate|localizeddate('long', 'none') } ) }}
        {% else %}
            {{ 'Member since %startDate%'|trans( { '%startDate%': familyMember.startDate|localizeddate('long', 'none') } ) }}
        {% endif %}
    </dd>

    <dt>{{ 'Birthdate'|trans }}</dt>
    <dd>
        {%- if familyMember.birthdate is not null -%}
        {{ familyMember.birthdate|localizeddate('long', 'none') }}
        {%- else -%}
        <span class="chill-no-data-statement">{{ 'Not given'|trans }}</span>
        {%- endif -%}
    </dd>

    <dt>{{ 'Gender'|trans }}</dt>
    <dd>
        {%- if familyMember.gender is not null -%}
        {{ familyMember.gender|trans }}
        {%- else -%}
        <span class="chill-no-data-statement">{{ 'Not given'|trans }}</span>
        {%- endif -%}
    </dd>

    <dt>{{ 'Marital status'|trans }}</dt>
    <dd>
        {%- if familyMember.maritalStatus is not null -%}
        {{ familyMember.maritalStatus.name|localize_translatable_string }}
        {%- else -%}
        <span class="chill-no-data-statement">{{ 'Not given'|trans }}</span>
        {%- endif -%}
    </dd>

    {% if chill_family_members_has_professionnal_situation() %}
    <dt>{{ 'Professionnal situation'|trans }}</dt>
    <dd>
        {%- if familyMember.professionnalSituation is not empty -%}
        {{ familyMember.professionnalSituation|chill_family_member_professional_situation_display }}
        {%- else -%}
        <span class="chill-no-data-statement">{{ 'Not given'|trans }}</span>
        {%- endif -%}
    </dd>
    {% endif %}
    
    {% if chill_family_members_has_familial_situation() %}
    <dt>{{ 'Familial situation'|trans }}</dt>
    <dd>
        {{ familyMember.familialSituation|chill_family_member_familial_situation_display|chill_print_or_message('Not given') }}
    </dd>
    {% endif %}
</dl>

<ul class="record_actions sticky-form-buttons">
    <li class="cancel">
        <a href="{{ path("chill_family_members_family_members_index", { 'id': person.id } ) }}" class="sc-button bt-cancel">
           {{ 'Back to the list'|trans }}
        </a>
    </li>
    {% if is_granted(constant('Chill\\AMLI\\FamilyMembersBundle\\Security\\Voter\\FamilyMemberVoter::UPDATE'), familyMember) %}
        <li>
            <a href="{{ path('chill_family_members_family_members_edit', { 'id': familyMember.id } ) }}" class="sc-button bt-edit">{{ 'Edit'|trans }}</a>
        </li>
    {% endif %}
</ul>
{% endblock %}